@font-face {
  font-family: 'Karla';
  src: url('/fonts/Karla/Karla-Bold.woff2') format('woff2'),
    url('/fonts/Karla/Karla-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('/fonts/Karla/Karla-Regular.woff2') format('woff2'),
    url('/fonts/Karla/Karla-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@import './header';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}
.wrapper{
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: rgb(230, 239, 246);
  display: grid;
  place-content: center;
}
.container{
  padding: 0 20px;
}
.single__price__card{
  max-width: 642px;
  min-height: 477px;
  margin: 0 20px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 15px 5px rgba(89, 122, 122, 0.1);
}
